<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
            {%block title %}Welcome {% endblock %} - To the Project1
        </title>

        {%include 'base/css.html' %}
  </head>
  <body>
    <body>
        {%include 'base/navbar.html' %}

        <div class="container-fluid">
          {% block content %}
        
        {% endblock %}
        </div>
        
    </body>
    {%include 'base/js.html' %}
  </body>
</html>

